## Import libraries

In [16]:
# Testing to write a ML tutorial
# first need to import required libraries here
import numpy as np    # for math computation
import pandas as pd   # for data analysis and manipulation
import sklearn        # for Machine learning algorithms and other tools
from sklearn import datasets # get iris datasets from the sklearn
import matplotlib.pyplot as plt # for graph plotting

## Load dataset and explore

In [54]:
iris = datasets.load_iris()
# iris.keys()
features_names = iris.feature_names
target_names = iris.target_names

# X = iris.data[:, :2]  # we only take the first two features.
X = iris.data
y = iris.target

df = pd.DataFrame(X, columns = features_names)
df['flower_name'] = y
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower_name
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [56]:
print(list(zip(np.unique(y), target_names)))

[(0, 'setosa'), (1, 'versicolor'), (2, 'virginica')]

## Define ML model

In [20]:
from sklearn.tree import DecisionTreeClassifier # one of the ML algorithm: Decision Tree
clf = DecisionTreeClassifier()
clf.fit(X, y)

DecisionTreeClassifier()

In [22]:
clf.score(X, y) # Accuracy

0.9266666666666666